<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather1.png"> 
            <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
         <div class="main-content">
             {{>header}}
             <p>This website was created by Blaise Mahoro. It uses mapbox.com and darksky.net APIs.  </p>
            <img class="portrait" src="/img/Austin.jpeg">
        </div>
       
        {{>footer}}
    </body>
</html>