<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather1.png"> 
         <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
         <div class="main-content">
             {{>header}}
            <p>In case you experience any issues with this website, please contact at <a href="mailto:bmahoro123@gmail.com">Blaise Mahoro</a>.</p>
        </div>
        
        {{>footer}}
    </body>
</html>